<header>

    <nav>
        
        <div class="container">

            <div class="left-content">

                 <a id="logo" routerLink="">Movie search</a> 
                
            </div>

            <div class="right-content">

                 <a class="item-header" routerLink="/add-category">Adicionar gênero</a> 
                 <a class="item-header" routerLink="/add-movie">Adicionar filme</a>
                 <i (click)="toggleSideMenu()" id="bars" class="fa-solid fa-bars" style="color: #ffffff;"></i> 
            </div>

        </div>

        <div *ngIf="statusSideMenu" class="side-menu">
                    

            <div>

                <div>
                    <div id="close-container"><i (click)="toggleSideMenu()" id="close" class="fa-solid fa-x" style="color: #ffffff;"></i></div>
                </div>

            </div>

            <div id="item-side-menu-container">
                <div> <a routerLink="/add-category" class="item-side-menu">Adicionar gênero</a></div>
                <div> <a routerLink="/add-movie" class="item-side-menu">Adicionar filme</a></div>
                  
            </div>

        </div>


    </nav>

</header>