<div class="container">

    <div> <h1>{{movie.name}}</h1> </div>

    <div class="data-content">

        <div> <h2>Sinopse</h2> </div>
        <div class="sinopse-content"><p>{{movie.sinopse}}</p></div>

    </div>

    <div class="data-content">

        <div><h2>Duração</h2></div>
        <div><p>{{movie.duration}}</p></div>

    </div>

    <div class="data-content">

        <div><h2>Gêneros</h2></div>
        <!-- <div><p>{{category.name}}</p></div> -->
        <div><p>Em breve!</p></div>
    </div>

</div>
