.container {
    width: 180px;
    opacity: 0.9;
    cursor: pointer;
    /* background-color: aqua; */
    /* height: 400px; */
}

img {
    width: 200px;
    height: 300px;

}


h2 {
    color: white;
    text-align: center;
}

.container:hover {
    opacity: 1;
}