.container {
    min-height: 40vh;
}

h1 {
    padding-top: 2rem;
    font-size: 35px;
    color: white;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
    flex-wrap: wrap;
    gap: 30px;
    padding: 2rem;
}

a {
    color: white;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}

