.container {
    background-color: #130026;
    min-height: 25vh;
}

h1 {
    padding-top: 2rem;
    font-size: 30px;
    color: white;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
}

span {
    color: white;
    font-size: 20px;
}

